*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    background: linear-gradient(344deg, rgba(255,255,255,1) 11%, rgba(153,255,229,1) 33%, rgba(20,175,187,1) 52%, rgba(14,64,240,1) 74%);
}