
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    display: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(344deg, rgb(186, 255, 238) 0%, rgba(20,175,187,1) 48%, rgba(14,64,240,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;

    /* barra de navegacion */
    nav {
        background-color: #41414146;
        backdrop-filter: blur(8px);
        color: rgb(255, 255, 255);
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        padding: 1em 2em;
        border-radius: 15px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
    }

    nav .logo {
        font-size: 1.5em;
        font-weight: bold;
    }

    nav .logo a {
        color: rgb(207, 207, 207);
        text-decoration: none;
    }

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
    }

    nav ul li {
        margin: 0 15px;
    }

    nav ul li a {
        color: rgb(255, 255, 255);       
        text-decoration: none;
    }

    section {
        padding: 2em;
        text-align: center;
        margin-top: 4em;
    } 
}
/* titulos de pag 
(Productos, Contacto , creditos de desarrollador)*/
#contenedorHome {
    background-color: #0d1321;
    color: #cccccc;
    width: 110%;
    height: 700px;
    clip-path: polygon(0 0, 100% 0, 100% 63%, 0 81%);

    .tituloHome{
        color: rgb(0, 255, 255);
        font-size: 40px;
}

#contenedorImagendelinicio{
    display: flex;
    position: absolute;
    margin-top: -15%;
    margin-left: -10%;
}


/* call to action */
#botonIniciarsesion{
    position: absolute;
    margin: 200px;
    margin-top: 25%;
    margin-left: 15%;
}
    .botonIniciarsesion {
        padding: 1.1em 2em;
        background: none;
        font-size: 15px;
        color: #ffffff;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        transition: all 0.3s;
        border-radius: 12px;
        background-color: #13144d;
        font-weight: bolder;
        box-shadow: 0 2px 0 2px #01c38e;
    }
    .botonIniciarsesion:before {
        content: "";
        position: absolute;
        width: 100px;
        height: 120%;
        background-color: #06c290;
        top: 50%;
        transform: skewX(30deg) translate(-150%, -50%);
        transition: all 0.5s;
    }
    .botonIniciarsesion:hover {
        background-color: #6af15c;
        color: #1b1b1b;
        box-shadow: 0 2px 0 2px #0d3b66;
    }
    .botonIniciarsesion:hover::before {
        transform: skewX(30deg) translate(150%, -50%);
        transition-delay: 0.1s;
    }
    .botonIniciarsesion:active {
        transform: scale(0.9);
    }
}
#contenedorProductos {
    background-color: #132d46;
    color: rgb(0, 255, 255);
    font-size: 15px;
    height: 800px;
    width: 100%;

    #productosTitulo {
        color: #cccccc;
        font-size: 50px;
    }

    .botonProductos {
        width: 210px;
        height: 10%;
        padding: 1.1em 2em;
        background: none;
        font-size: 22px;
        color: #ffffff;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        transition: all 0.3s;
        border-radius: 12px;
        background-color: #464452;
        font-weight: bolder;
        box-shadow: 0 2px 0 2px #014fc3;
    }
    .botonProductos:before {
        content: "";
        position: absolute;
        width: 120px;
        height: 120%;
        background-color: #ffffff;
        top: 50%;
        transform: skewX(30deg) translate(-150%, -50%);
        transition: all 0.5s;
    }
    .botonProductos:hover {
        background-color: #4962f6;
        color: #1b1b1b;
        box-shadow: 0 2px 0 2px #0d3b66;
    }
    .botonProductos:hover::before {
        transform: skewX(30deg) translate(150%, -50%);
        transition-delay: 0.1s;
    }
    .botonProductos:active {
        transform: scale(0.9);
    }
}
#contenedorContactos {
    background-color: #01c38e;
    color: #272727;
    font-size: 20px;
    height: 600px;
    width: 100%;

    .tituloContactos {
        color: rgb(255, 255, 255);
        font-size: 50px;
    }
}
#contenedorCreditos {
    background-color: #ffffff;
    color: #272727;
    font-size: 20px;
    height: 600px;
    width: 100%;

    .tituloCreditos {
        color: rgb(43, 43, 43);
        font-size: 6¿50px;
    }
}



